{% include 'partials/header.html' %}
{% load static %}
{% include 'partials/header.html' %}
{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/booker_app/book_list">Booker App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/booker_app/add_book">Add a book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/booker_app/import_book">Import a book</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <div class="jumbotron">
    <form action="{% url 'add_book' %}" method="post">
        {% csrf_token %}
        <h2>Add book</h2>
        <hr>
            {% if error_msg %}
                <p class="error_msg">{{ error_msg }}</p>
            {% endif %}
        <div class="container">
            <div class="row justify-content-md-left">
              <div class="col-3 col-sm-2 my-2">Title</div>
              <div class="col-3 col-sm-2 my-2">{{ form_book.title }}</div>
              <div class="w-100"></div>
              <div class="col-3 col-sm-2 my-2">Authors</div>
              <div class="col-3 col-sm-2 my-2">{{ form_book.authors }}</div>
              <div class="w-100"></div>
              <div class="col-3 col-sm-2 my-2">Published date</div>
              <div class="col-3 col-sm-2 my-2">{{ form_book.pub_date }}</div>
              <div class="w-100"></div>
              <div class="col-3 col-sm-2 my-2">Language</div>
              <div class="col-3 col-sm-2 my-2">{{ form_book.language }}</div>
              <div class="w-100"></div>
              <div class="col-3 col-sm-2 my-2">Page count</div>
              <div class="col-3 col-sm-2 my-2">{{ form_book.page_count }}</div>
              <div class="w-100"></div>
              <div class="col-3 col-sm-2 my-2">Cover adress image</div>
              <div class="col-3 col-sm-2 my-2">{{ form_book.cover_image_adress }}</div>
              <div class="w-100"></div>

              <div class="col-3 col-sm-2 my-2">ISBN 10</div>
              <div class="col-3 col-sm-2 my-2">{{ form_ident.ISBN_10 }}</div>
              <div class="w-100"></div>
              <div class="col-3 col-sm-2 my-2">ISBN 13</div>
              <div class="col-3 col-sm-2 my-2">{{ form_ident.ISBN_13 }}</div>
              <div class="w-100"></div>
              <div class="col-3 col-sm-2 my-2">ISSN</div>
              <div class="col-3 col-sm-2 my-2">{{ form_ident.ISSN }}</div>
              <div class="w-100"></div>
              <div class="col-3 col-sm-2 my-2">OTHER</div>
              <div class="col-3 col-sm-2 my-2">{{ form_ident.OTHER }}</div>
              <div class="w-100"></div>

              <div class="col-3 col-sm-2 my-2">
                  <button type="submit" class="save btn btn-info">
                      Add book
                  </button>
             </div>
        </div>
    </div>
    </form>
  </div>
</main>

{% include 'partials/footer.html' %}
