{% include 'partials/header.html' %}
{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/booker_app/book_list">Booker App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/booker_app/add_book">Add a book</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/booker_app/import_book">Import a book</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <div class="jumbotron">
    <form action="{% url 'import_book' %}" method="post">
        {% csrf_token %}
        <h2>Search and import a book </h2>
            <hr>
                {% if error_msg %}
                    <p class="error_msg">{{ error_msg }}</p>
                {% endif %}
                {% if success_msg %}
                    <p class="success_msg">{{ success_msg }}</p>
                {% endif %}

            {% if form %}
            <div class="container">
                <div class="row justify-content-md-left">
                  <div class="col-3 col-sm-2 my-2">Title</div>
                  <div class="col-3 col-sm-2 my-2">{{ form.search_title }}</div>
                  <div class="w-100"></div>
                  <div class="col-3 col-sm-2 my-2">Authors</div>
                  <div class="col-3 col-sm-2 my-2">{{ form.search_authors}}</div>
                  <div class="w-100"></div>
                  <div class="col-3 col-sm-2 my-2">ISBN</div>
                  <div class="col-3 col-sm-2 my-2">{{ form.search_isbn }}</div>
                  <div class="w-100"></div>
                  <div class="col-3 col-sm-2 my-2">LCCN</div>
                  <div class="col-3 col-sm-2 my-2">{{ form.search_lccn }}</div>
                  <div class="w-100"></div>
                  <div class="col-3 col-sm-2 my-2">OCLC</div>
                  <div class="col-3 col-sm-2 my-2">{{ form.search_oclc }}</div>
                  <div class="w-100"></div>
                  <div class="col-3 col-sm-2 my-2">
                      <button type="submit" class="save btn btn-info">
                          Import book
                      </button>
            {% endif %}
    </form>
  </div>
</main>

{% include 'partials/footer.html' %}
