/* Show it is fixed to the top */
body {
  min-height: 40rem;
  padding-top: 4.5rem;
}

.jumbotron {
    padding: 2rem 2rem !important;
}

.error_msg {
    color: red;
    text-align: center;
    font-weight: bold;
}

.success_msg {
    color: green;
    text-align: center;
    font-weight: bold;
}
